* {
    margin :0;
    padding: 0;
}

#botao_inicio {
    justify-self: center;
    align-self: center;
    padding: 10px;
    font-size: 30px;
    margin-top: 10px;
    border-radius: 10px;
}

body {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}



main {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 8%;
    gap: 20px;
    align-items: center;
    flex-direction: row;
}

header {
    background-color: black;
    width: 100%;
}

.video {
    margin: 25px 0px 0px 0px;
    padding: 15px;
    background-color: rgb(220, 190, 25) ;
    box-shadow: 10px 10px 30px;
    width: 500px;
    height: 300px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.video button {
    background-color: aliceblue;
    border: none;
    border-radius: 8px;
    padding: 5px;
    color: black;
}

.video button:hover {
    background-color: black;
    color: aliceblue;
}


aside {
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: black;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content:center;
    gap: 100px;
    align-items: center;
}