* {
    margin :0;
    padding: 0;
}

#botao_inicio {
    justify-self: center;
    align-self: center;
    padding: 10px;
    font-size: 30px;
    margin-top: 10px;
    border-radius: 10px;
}

body {
    background-color: aliceblue;

}

main {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

header {
    background-color: black;
    width: 100%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
}

h2 {
    font-size: 80px;
}

p {
    font-size: 60px;
}


button {
    border-radius: 10px;
    padding: 10px;
}

aside {
    margin: 100px;
    background-color: rgb(220, 190, 25);
    color: rgb(16, 16, 16);
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px 20px 0px 0px;
}